* {
    color: white
}

body {
    background-color: #0D0D0D;
}

.bg {
    background-color: #0D0D0D;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(47, 47, 47);
    border-radius: 1rem;
}

.faded-div {
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  }


/* ===== Custom Color ==== */

.text-gold {
    color: #FCB040
}

.text-gold *{
    color: #FCB040
}

.text-darkGold, .text-darkGold * {
    color: #8B5A09
}

.bgGray {
    background-color: #1A1A1A;
}

.linearGold {
    background: rgb(252,199,118);
    background: linear-gradient(90deg, rgba(252,199,118,1) 0%, rgba(252,181,67,1) 35%, rgba(250,161,12,1) 100%);
}

/* ========== Custom Slider ========== */

.slider-container {
    margin-top: 0.5rem;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;

}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear;
  }

.slide.activeSlide {

    opacity: 1;
    transform: translateX(0);
  }

.slide.lastSlide {
    transform: translateX(-100%);
  }

.slide.nextSlide {
    transform: translateX(100%);
  }


/* =========== Anime Grid Wrapper ======== */

.animesWrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 640px) {
    .animesWrapper {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}


@media (min-width: 640px) {
    .animesWrapper {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}
@media (min-width: 768px) {
    .animesWrapper {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}
@media (min-width: 1024px) {
    .animesWrapper {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
